body{}
header{
    max-width: 750px;
    height: 100px;
    background: #500a00;
}
}
.syte{
    max-width: 750px;
    background: url("image/background.png");
    margin: auto auto;
    padding: 0;
}
.log_text{
}
.logotip{}
.text_p{

}
.menu{
    padding-top: 0;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-family: Lobster;
    font-size: 20pt;
    transition: .5s ease-in-out;
    z-index: 999;
}
.menu:hover{
    transition: .5s ease-in-out;
    text-decoration: none;
}
.sl__img {
    margin: 0 auto 0;
    max-width: 750px;
    max-height: 400px;
}

.h3__center{
    text-align: center;
    font-family: Lobster;
    font-size: 24px;
    color: white;
}
.p_text{
    text-align: center;
    font-family: Calibri;
    font-size: 24px;
    color: white;
}
.button{
    font-family: Georgia;
    text-decoration: none;
    font-size: 24px;
    color: black;
    padding: 5px 18px 5px 18px;
    background: #ffce34;
    border: 1px solid #ccb819;
    border-radius: 10px;
    transition: .5s ease-in-out;
    padding-bottom: 10px;
}
.photo-nn{
    background-image: url("image/wood_dark.jpg");
}
.stix{
    margin: 0 auto;
    background-image: url("image/stix.jpg");
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.text_verouch_zagalovok{
    font-family: Lobster;
    font-size: 24px;
    color: white;
}
.text_verouch{
    margin-left: 15px;
    margin-right: 15px;
    font-family: Calibri;
    font-size: 24px;
    color: white;
}
.verouch{
    background-image: url("image/wood_dark.jpg");
}
.blog{
    max-width: 750px;

}