*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'IBM Plex Serif', serif;
    background-image: url("../../image/vse/bg-light-4860.png");
}
nav{
    margin: 0 auto;
    max-width: 1235px;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
}
.logo_text p{
    display: none;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo img{
    padding: 5px 5px 0;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}
.graphic{
    display: none;
}
.topnav*{
    padding: 0;
    margin: 0;
}
.topnav{
    background: #ffffff;
    font-size: 14px;
    max-width: 1235px;
    height: 30px;
    text-align: justify;
    z-index: 999;
}
.topnav a{
    color: #000000;
    text-align: justify;
    padding-top: 0;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 9px;
    font-size: 15px;
}
.topnav a:hover{
    background: rgba(122, 122, 122, 0.63);
    color: white;
    transition: .2s ease-in-out;
}
.topnav .icon{
    display: none;
}
.topnav > ul{
    display: flex;
    justify-content: center;
}
.topnav > ul li a{
    display: block;
    margin: 0 8px;
    transition: .5s ease-in-out;
}
.topnav li ul{
    position: absolute;
    min-width: 150px;
    display: none;
    transition: .5s ease-in-out;
    z-index: 999;
}
.topnav li > ul li{

}
.topnav li > ul li a{
    text-transform: none;
    background: #bcbcbc;
}
.topnav li:hover > ul{
    display: block;
}
.photo-nn{
    max-width: 1235px;
    height: auto;
    margin: -20px auto 0;
    border-radius: 5px 0 0 0;
    display: block;
}
.slider{
    max-width: 1235px;
    height: 350px;
    float: left;
    background-image: url("../../image/vse/wood_dark.jpg");
    border-radius: 0 0 20px 20px;
}
.sl__img{
    float: left;
    margin: 0;
    max-width: 100%;
    border-radius: 0 0 0 20px;
}
.sl__slide{
    width: auto;
    height: auto;
}
.sl{
    max-width: 1235px;
}
.h3__center{
    text-align: center;
    margin: 30px 50px 25px 25px;
    color: white;
    font-family: 'Noto Serif', serif;
}
.p_text{
    text-align: center;
    margin: 10px 10px 10px 10px;
    color: white;
    position: static;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}
.p_text1{
    font-size: 15px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    color: white;
    position: static;
    font-family: 'Comfortaa', cursive;

}
.p_text2{
    font-size: 18px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    color: white;
    position: static;
    font-family: 'Comfortaa', cursive;
}
.button{
    padding: 5px 18px 5px 18px;
    background: #ffe51e;
    text-decoration: none;
    color: black;
    border: 1px solid #ccb819;
    border-radius: 10px 0;
    font-size: 20px;
    transition: .5s ease-in-out;
}
.button:hover{
    border-radius: 0 10px;
    transition: .5s ease-in-out;
    background: #ccb819;
}
.content{
    max-width: 1235px;
    margin: 0 auto;
}
.text_verouch{
    color: white;
    margin: 5px 5px 10px 10px;
    font-size: 16.1px;
    font-family: 'IBM Plex Serif', serif;
}
.text_verouch_zagalovok{
    color: white;
    margin: 15px 15px 15px 15px;
    font-size: 19px;

}
.new{
    margin-top: 15px;
    height: 800px;
    width: 200px;
    border-radius: 10px;
    float: left;
}
.zavet{
    margin-top: 15px;
    max-width: 880px;
    max-height: 800px;
    float: left;
    margin-left: 15px;
}
.ph__zavet{
    max-width: 100%;
    border-radius: 20px;
}
.bok{
    margin-top: 15px;
    float: right;
}
.blog{
    width: 1235px;
    height: 800px;
    margin: 0 auto;
}
.razdel{
    width: 1200px;
    height: 35px;
}

.stix{
    max-width: 100%;
    border: 10px #babbbb;
    border-radius: 20px;
}
.verouch{
    background: #171717;
    max-width: 450px;
    height: auto;
    border-radius: 20px;
    padding-bottom: 5px;
}
.rybrika{
    width: 200px;
    height: 20px;
    background: black;
    border-radius: 10px;
    padding-bottom: 2px;
}
.text_rybrika{
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;

}
.new_photo img{
    width: 200px;
    height: 133px;
    margin-top: 5px;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    .logo img{
        display: none;
    }
    .logo_text{
        background: black;
        padding: 10px;
    }
    .p_left{
        display: flex;
        justify-content: center;
        font-size: 35px;
        margin: 10px;
    }
    .p_right{
        float: right;
    }
    .logo_text p{
        display: block;
        text-align: center;
        color: white;
    }
    .topnav ul > li > a:not(:first-child){
        display: none;
    }
    .topnav a.icon{
        float: right;
        padding-top: 6px;
        display: block;
        color: black;
    }
    nav{
        width: 100%;
        height: 100px;
        padding-left: 0;
        padding-right: 0;
    }
    .topnav > ul > li a{
        display: none;
        transition: .5s ease-in-out;
    }
    .topnav > ul{
        display: block;
    }
    .topnav.responsive{
        position: relative;
    }
    .topnav.responsive a.icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
    .topnav{
        background: #ffffff;
        font-size: 14px;
        max-width: 1235px;
        height: auto;
    }
    .icon_div{
        background: #ffffff;
        max-width: 768px;
        min-height: 38px;
    }
    .topnav li ul{
        min-width: 700px;
        display: none;
        transition: .5s ease-in-out;
    }
    .topnav li:hover > ul{
        display: block;
        margin-left: -5px ;
    }
    .topnav a:hover{
        background: rgb(122, 122, 122);
        color: white;
        box-shadow: 1px 5px 10px -5px black;
        transition: .2s ease-in-out;
    }
    .photo-nn{
        display: none;
    }
    .stih{
        max-width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        float: none;
        margin: -30px auto 0;
    }
    .stih_onm{
        margin: 0 auto;
        max-width: 768px;
        max-height: 350px;
        text-align: center;
    }
    .new{
        display: none;
    }
    .zavet{
        max-width: 880px;
        max-height: 800px;
        float: none;
        margin: -25px auto 0;
        text-align: center;
    }
    .bok{
        margin: 15px auto 0;
        max-width: 450px;
        float: inherit;
    }
    .ph__zavet{
        max-width: 100%;
        border-radius: 20px;
    }
    .stix{
        max-width: 100%;
    }
}